In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [2]:
tickers = ["PG", "^GSPC"]
mydata = pd.DataFrame()
for t in tickers:
    mydata[t]=wb.DataReader(t, data_source = "yahoo", start="2012-1-1", end="2016-12-31")["Adj Close"]

In [3]:
mydata.head()

                   PG        ^GSPC
Date
2012-01-03  50.355068  1277.060059
2012-01-04  50.332466  1277.300049
2012-01-05  50.121490  1281.060059
2012-01-06  50.000938  1277.810059
2012-01-09  50.211895  1280.699951

In [4]:
returns = np.log(mydata/mydata.shift(1))
returns

                  PG     ^GSPC
Date
2012-01-03       NaN       NaN
2012-01-04 -0.000449  0.000188
2012-01-05 -0.004200  0.002939
2012-01-06 -0.002408 -0.002540
2012-01-09  0.004210  0.002259
2012-01-10 -0.004662  0.008847
2012-01-11 -0.009848  0.000310
2012-01-12  0.001977  0.002334
2012-01-13  0.000000 -0.004960
2012-01-17  0.006815  0.003547
2012-01-18  0.004478  0.011047
2012-01-19  0.000757  0.004927
2012-01-20  0.002268  0.000669
2012-01-23 -0.018746  0.000471
2012-01-24 -0.007722 -0.001026
2012-01-25  0.007414  0.008642
2012-01-26 -0.002774 -0.005771
2012-01-27 -0.007746 -0.001594
2012-01-30 -0.017097 -0.002525
2012-01-31 -0.002693 -0.000457
2012-02-01  0.002693  0.008860
2012-02-02  0.001739  0.001095
2012-02-03 -0.008724  0.014500
2012-02-06  0.011720 -0.000424
2012-02-07  0.002987  0.002021
2012-02-08 -0.000943  0.002158
2012-02-09  0.006266  0.001473
2012-02-10 -0.002502 -0.006910
2012-02-13  0.005464  0.006777
2012-02-14  0.003885 -0.000940
...              ...       ...
2016-11-17 -0.001444  0.004665
2016-11-18 -0.012964 -0.002390
2016-11-21  0.007774  0.007434
2016-11-22  0.001451  0.002163
2016-11-23 -0.000967  0.000808
2016-11-25  0.009390  0.003907
2016-11-28 -0.004684 -0.005268
2016-11-29 -0.002169  0.001334
2016-11-30 -0.005201 -0.002657
2016-12-01 -0.007303 -0.003522
2016-12-02  0.006575  0.000397
2016-12-05  0.007135  0.005804
2016-12-06 -0.000964  0.003405
2016-12-07  0.015202  0.013077
2016-12-08 -0.008111  0.002157
2016-12-09  0.010365  0.005921
2016-12-12  0.008968 -0.001138
2016-12-13  0.000587  0.006518
2016-12-14 -0.009555 -0.008150
2016-12-15  0.003667  0.003876
2016-12-16  0.000000 -0.001752
2016-12-19  0.000354  0.001973
2016-12-20 -0.001654  0.003631
2016-12-21 -0.003435 -0.002460
2016-12-22  0.002252 -0.001865
2016-12-23  0.005784  0.001251
2016-12-27 -0.004246  0.002246
2016-12-28 -0.006285 -0.008392
2016-12-29  0.003325 -0.000293
2016-12-30 -0.003206 -0.004648

[1258 rows x 2 columns]

In [5]:
cov = returns.cov() * 250
cov

             PG     ^GSPC
PG     0.020409  0.010078
^GSPC  0.010078  0.016362

In [6]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.010078081961127427

In [7]:
market_var = returns["^GSPC"].var() * 250
market_var

0.01636163100230847

In [8]:
PG_beta = cov_with_market/market_var
PG_beta

0.6159582721126949

In [12]:
market_return_annual = returns["^GSPC"].mean() * 250
market_return_annual

0.11165330865686375

In [14]:
risk_free_rate = 0.025 #10 year bond yield
PG_Expected_return = risk_free_rate + PG_beta * (market_return_annual - risk_free_rate)
PG_Expected_return

0.07837482227312982

In [15]:
print(str(round(PG_Expected_return,5)*100) +"%")

7.837%