In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ["PG", "BEI.DE"]
mydata = pd.DataFrame()
for t in tickers:
    mydata[t]=wb.DataReader(t, data_source = "yahoo", start="2007-1-1")["Adj Close"]

In [3]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3554 entries, 2007-01-03 to 2021-02-12
Data columns (total 2 columns):
PG        3554 non-null float64
BEI.DE    3488 non-null float64
dtypes: float64(2)
memory usage: 83.3 KB

In [4]:
mydata.head()

                   PG     BEI.DE
Date
2007-01-03  42.380424  40.627869
2007-01-04  42.058666  40.894630
2007-01-05  41.697510  40.053936
2007-01-08  41.789440  40.062027
2007-01-09  41.684357  39.156666

In [5]:
mydata.tail()

                    PG     BEI.DE
Date
2021-02-08  129.169998  92.019997
2021-02-09  128.669998  91.940002
2021-02-10  128.220001  91.879997
2021-02-11  128.330002  91.400002
2021-02-12  127.620003  92.059998

In [7]:
returns = np.log(mydata/mydata.shift(1))
returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002518 -0.022858
2007-01-10  0.011901 -0.012673
2007-01-11  0.006207  0.007498
2007-01-12  0.005554  0.009295
2007-01-16  0.000000  0.024572
2007-01-17  0.010304 -0.041784
2007-01-18  0.002750  0.011024
2007-01-19  0.008357 -0.002071
2007-01-22 -0.005615 -0.000830
2007-01-23 -0.001217  0.001037
2007-01-24 -0.001983  0.013382
2007-01-25 -0.009047 -0.019619
2007-01-26 -0.000924  0.000209
2007-01-29  0.000308  0.013050
2007-01-30 -0.004480  0.026202
2007-01-31  0.004326  0.032932
2007-02-01  0.007219 -0.010923
2007-02-02  0.000000  0.007036
2007-02-05 -0.002912  0.000973
2007-02-06 -0.008633 -0.004876
2007-02-07 -0.001704 -0.000391
2007-02-08  0.001704 -0.010617
2007-02-09 -0.002480  0.001778
2007-02-12 -0.004200 -0.000987
2007-02-13  0.008536  0.001382
2007-02-14  0.002623  0.012934
...              ...       ...
2020-12-31  0.009895       NaN
2021-01-04 -0.009532       NaN
2021-01-05  0.006365 -0.009929
2021-01-06  0.010471 -0.002125
2021-01-07 -0.009390 -0.006403
2021-01-08 -0.000432  0.007254
2021-01-11 -0.006796 -0.002341
2021-01-12 -0.005820 -0.012436
2021-01-13  0.001531  0.004306
2021-01-14 -0.010694 -0.010365
2021-01-15 -0.007539  0.003899
2021-01-19 -0.008793 -0.005855
2021-01-20 -0.012579 -0.003486
2021-01-21 -0.000984 -0.007008
2021-01-22 -0.007739  0.004605
2021-01-25  0.017084  0.006542
2021-01-26  0.006407  0.005419
2021-01-27 -0.036031 -0.006506
2021-01-28  0.015305  0.000218
2021-01-29 -0.016630 -0.017556
2021-02-01  0.005910  0.008377
2021-02-02 -0.001397  0.009613
2021-02-03  0.001242 -0.007640
2021-02-04  0.000620  0.001533
2021-02-05  0.004176  0.017135
2021-02-08 -0.003092 -0.010594
2021-02-09 -0.003878 -0.000870
2021-02-10 -0.003503 -0.000653
2021-02-11  0.000858 -0.005238
2021-02-12 -0.005548  0.007195

[3554 rows x 2 columns]

In [8]:
returns["PG"].mean()

0.00031026472014243595

In [9]:
returns["PG"].mean()*250

0.07756618003560899

In [10]:
returns["PG"].std()

0.011868576906337754

In [11]:
returns["PG"].std()*250

2.9671442265844385

In [12]:
returns["PG"].std()*250**0.5

0.18765867804451106

In [13]:
returns["BEI.DE"].mean()

0.00021891111861993654

In [14]:
returns["BEI.DE"].mean()*250

0.054727779654984134

In [15]:
returns["BEI.DE"].std()

0.013832335057685097

In [16]:
returns["BEI.DE"].std()*250

3.4580837644212745

In [17]:
returns["BEI.DE"].std()*250**0.5

0.21870842070440735

In [18]:
returns[["PG","BEI.DE"]].mean()*250

PG        0.077566
BEI.DE    0.054728
dtype: float64

In [19]:
returns[["PG","BEI.DE"]].std()*250**0.5

PG        0.187659
BEI.DE    0.218708
dtype: float64